.characters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
}
.card {
  background: black;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
  color: white;
  box-shadow: 0px 0px 35px 1px rgba(255, 255, 255, 0.8);
  margin: 3rem;
  overflow: hidden;
  position: relative;
  max-width: 300px;
}
.picture-wrap img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-footer {
  padding: 1.5rem;
}

.character-name {
  margin: 0;
}
